.ListItemButton{
    padding: 0px!important;
    padding-left: 10px!important;
}

.TopNavBarContainer{
    align-items: center;
}

.NavLink{
    color: #fff!important;
    display: flex;
}
.NavbarLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
    margin: 0px;
}

.NavbarIcon{
    width: 40px!important;
    height: 40px!important;
}
.NavbarText{
    color: teal;
}
.ListContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
   
}

.NavbarAccount{
    margin: 20px 0;
}

.NavbarLogo{
    background-color: #1976d2;
    justify-content: space-between!important;
    font-size: 30px;
}

.NavbarContainer{
    border-right: 1px #1976d2!important;
}